*,
html {margin: 0; 
    padding: 0;}

body {
    background-color: rgb(255, 255, 255);
}
.container-navbar {
    background-color: rgb(248, 248, 248); 
    width: 100%; 
    height: 100px
}
.MID-BODY {
    background-color: rgb(235, 237, 241);
}

.MENU {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.ul-first2:hover { 
    background-color:black;
    transition: 0.2s;
    transition-delay: 0.1;
    border-radius: 20px;
}

.container-end{
    background-color: rgb(109, 108, 108);
}
.ul-first {
    background-color: rgb(249, 20, 202);
     display: flex; 
     justify-content: center; 
     align-items: center;
}
.ul-first2 {
    list-style-type: none ; 
    padding: 20px; 
    color: white;
     margin: 5px;
     font-size: 20px;
    
    }

     .container-mid {
        background-color: rgb(249, 10, 202);
        display: flex;
        justify-content: center;
        align-items: center;
    }

.img-content {
        width: 50%;
        height: 50%;
     }

.yt-content {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 480px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow:5px 5px 5px 0px black; 
    -webkit-box-shadow:5px 5px 5px 0px black;
    -moz-box-shadow : 5px 5px 5px 0px  black

}

.ig-content{
    background-color: white;
    color:white
    text-decoration: none;
    font-size: 20px;
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow:5px 5px 5px 0px black; 
    -webkit-box-shadow:5px 5px 5px 0px black;
    -moz-box-shadow : 5px 5px 5px 0px  black

}


.H1-content{ background-color: rgb(224, 210, 210);}

